[class*='k-container']{
    border: 2px solid black;
    margin: auto;
    width: 1200px;
}
.k-container-nav{
    padding: 10px;
    display: flex;
}
.k-box1{
    border: 1px solid black;
    flex: 0 0 30%;
    height: 800px;
}
.k-box1-top{
    background-color: #00c9c7;
    color: white;
    text-align: center;
}
.k-box1-middle{
    background-color: gray;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.k-scrollbox{
    flex: 0 0 60%;
    height: 25px;
    border-radius: 15px;
}
.k-iconbox{
    flex: 0 0 40%;
    display: flex;
    margin-left: 0px;
    justify-content: flex-end;
}
.k-iconbox div{
    padding: 5px;
}
.k-box1-bottom{
    height: 650px;
    overflow: auto;
}
.k-bar{
    border-bottom: 2px solid black;
    height: 35px;
    display: flex;
    align-items: center;
}
.k-bar:hover{
    background-color: darkgrey;
}
.k-age{
    flex: 0 0 15%;
    border-radius: 50%;
    padding: 5px;
}
.k-title{
    flex: 0 0 85%;
    padding: 0 5px;
    font-size: 12px;
}
.k-bar2{
    display: flex;
    border: 1px solid black;
    height: 100px;
    align-items: center;
}
.k-bar2-left{
    flex: 0 0 30%;
    height: 80px;
    border: 1px solid black;
    position: relative;
}
.k-bar2-left img{
    position: absolute;
    width: 100%;
    height: 100%;

}
.k-bar2-right{
    flex: 0 0 70%;
    display: flex;
    align-items: center;
}
.k-bar3:hover{
    background-color: darkgrey;
}
.k-bar4:hover{
    background-color: darkgrey;
}
.k-age2{
    padding: 5px;
}
.k-title2{
    font-size: 18px;
}

.k-box2{
    flex: 0 0 30%;
    height: 800px;
    border: 1px solid black;
}

.k-box2-top{
    background-color: #00c9c7;
    color: white;
    text-align: center;
}
.k-box2-middle{
    background-color: gray;
    display: flex;
    height: 60px;
}
.k-box2-middle-leftbox{
    flex: 0 0 50%;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid black;
    
}
.k-box2-middle-rightbox{
    flex: 0 0 50%;
    line-height: 50px;
    text-align: center;
}
.k-box2-middle-leftbox:hover{
    background-color: darkgrey;
}
.k-box2-middle-rightbox:hover{
    background-color: darkgrey;
}
.k-box2-bottom{
    height: 650px;
    display: flex;
}
.k-box2-bottom-leftbox{
    flex: 0 0 50%;
    border-right: 1px solid black;
}
.k-box2-bottom-leftbox div{
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.k-box2-bottom-rightbox{
    flex: 0 0 50%;
}
.k-box2-bottom-rightbox div{
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.k-box3{
    border: 2px solid black;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.k-box3-checkbox{
    flex: 0 0 100%;
    height: 50px;
    display: flex;
}
.k-box3-checkbox div{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.k-box3-top{
    flex: 0 0 100%;
    height: 250px;
    display: flex;
}
.k-bar5{
    height: 35px;
    display: flex;
    align-items: center;
}
.k-box3-top-left{
    flex: 0 0 50%;
}
.k-box3-top-left img{
    width: 100%;
    height: 250px;
}

.k-box3-top-right{
    flex: 0 0 50%;
    padding-top: 40px;
    border: 1px solid black;
}
.k-box3-top-right div{
    padding: 5px;
}
.k-kkkk{
    position: relative;
    z-index: 100;
}
.k-box3-middle{
    width: 100%;
    height: 150px;
    border: 1px solid red;
}
.k-mySwiper{
    padding: 25px;
}
.k-box3-bottom{
    border: 1px solid black;
    height: 500px;
}
.k-box3-bottom-top{
    padding: 5px;
}
.k-box3-bottom-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}
.k-box3-bottom-bottom div{
    border: 1px solid black;
    min-width: 100px;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px;
}
.k-slidebox{
    width: 650px;
    height: 600px;
    position: absolute;
    z-index: 200;
    background-color: aquamarine;
    right: 0;
    animation-name: example;
    animation-duration: 2s;
}
.k-swiper {
    width: 100%;
    height: 100%;
}
  .k-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  }

@keyframes example {
    from {width: 0px;}
    to {width: 600px;}
}
.k-ii{
    color: blue;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}