[class*='k-container']{
    border: 2px solid black;
    margin: auto;
    width: 1200px;
}
.k-container-nav{
    padding: 10px;
    display: flex;
}
.k-box1{
    border: 1px solid black;
    flex: 0 0 30%;
    height: 800px;
}
.k-box1-top{
    background-color: #00c9c7;
    color: white;
    text-align: center;
}
.k-box1-middle{
    background-color: gray;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.k-scrollbox{
    flex: 0 0 60%;
    height: 25px;
    border-radius: 15px;
}
.k-iconbox{
    flex: 0 0 40%;
    display: flex;
    margin-left: 0px;
    justify-content: flex-end;
}
.k-iconbox div{
    padding: 5px;
}
.k-box1-bottom{
    height: 650px;
    overflow: auto;
}
.k-bar{
    border-bottom: 2px solid black;
    height: 35px;
    display: flex;
    align-items: center;
}
.k-bar:hover{
    background-color: darkgrey;
}
.k-age{
    flex: 0 0 15%;
    border-radius: 50%;
    padding: 5px;
}
.k-title{
    flex: 0 0 85%;
    padding: 0 5px;
    font-size: 12px;
}
.k-bar2{
    display: flex;
    border: 1px solid black;
    height: 100px;
    align-items: center;
}
.k-bar2-left{
    flex: 0 0 30%;
    height: 80px;
    border: 1px solid black;
    position: relative;
}
.k-bar2-left img{
    position: absolute;
    width: 100%;
    height: 100%;

}
.k-bar2-right{
    flex: 0 0 70%;
    display: flex;
    align-items: center;
}
.k-bar3:hover{
    background-color: darkgrey;
}
.k-bar4:hover{
    background-color: darkgrey;
}
.k-age2{
    padding: 5px;
}
.k-title2{
    font-size: 18px;
}

.k-box2{
    flex: 0 0 30%;
    height: 800px;
    border: 1px solid black;
}

.k-box2-top{
    background-color: #00c9c7;
    color: white;
    text-align: center;
}
.k-box2-middle{
    background-color: gray;
    display: flex;
    height: 60px;
}
.k-box2-middle-leftbox{
    flex: 0 0 50%;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid black;
    
}
.k-box2-middle-rightbox{
    flex: 0 0 50%;
    line-height: 50px;
    text-align: center;
}
.k-box2-middle-leftbox:hover{
    background-color: darkgrey;
}
.k-box2-middle-rightbox:hover{
    background-color: darkgrey;
}
.k-box2-bottom{
    height: 650px;
    display: flex;
}
.k-box2-bottom-leftbox{
    flex: 0 0 50%;
    border-right: 1px solid black;
}
.k-box2-bottom-leftbox div{
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.k-box2-bottom-rightbox{
    flex: 0 0 50%;
}
.k-box2-bottom-rightbox div{
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.k-box3{
    border: 2px solid black;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.k-box3-checkbox{
    flex: 0 0 100%;
    height: 50px;
    display: flex;
}
.k-box3-checkbox div{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.k-box3-top{
    flex: 0 0 100%;
    height: 250px;
    display: flex;
}
.k-bar5{
    height: 35px;
    display: flex;
    align-items: center;
}
.k-box3-top-left{
    flex: 0 0 50%;
}
.k-box3-top-left img{
    width: 100%;
    height: 250px;
}

.k-box3-top-right{
    flex: 0 0 50%;
    padding-top: 40px;
    border: 1px solid black;
}
.k-box3-top-right div{
    padding: 5px;
}
.k-kkkk{
    position: relative;
    z-index: 100;
}
.k-box3-middle{
    width: 100%;
    height: 150px;
    border: 1px solid red;
}
.k-mySwiper{
    padding: 25px;
}
.k-box3-bottom{
    border: 1px solid black;
    height: 500px;
}
.k-box3-bottom-top{
    padding: 5px;
}
.k-box3-bottom-bottom{
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.k-box3-datebox{
    border: 1px solid black;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px;
    cursor: pointer;
}
.k-box3-datebox:active{
    background-color: goldenrod;
}
.k-box3-datebox div{
    text-align: center;
}
/* 슬라이드 좌석선택 스타일 */
.k-slidebox{
    position: fixed;
    z-index: 200;
    background-color: rgba(5, 0, 0, 0.5);
    right: 0;
    transform: translateX(-640px);
    animation: example;
    animation-duration: 1s;
}
.k-slidebox-container{
    width: 800px;
    height: 600px;
    background-color: green;
}
.k-slidebox-top{
    text-align: center;
    background-color: #00c9c7;
    color: white;
}
.k-slidebox-middle{
    display: flex;
    border: 1px solid black;
    height: 250px;
}
.k-slidebox-middle-left{
    flex: 0 0 50%;
    height: 250px;
    background-color: burlywood;
}
.k-slidebox-middle-left div{
    padding: 5px;
}
.k-slidebox-middle-right{
    flex: 0 0 50%;
    height: 250px;
    background-color: white;
}
.k-slidebox-updownbox{
    display: flex;
}
.k-upbutton{
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.k-downbutton{
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.k-slidebox-middle-left-buttonbox{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}
.k-slidebox-middle-left-buttonbox button{
    background-color: gray;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
.k-slidebox-bottom{
    border: 1px solid black;
    height: 230px;
    margin: auto;
    background-color: rgba(5, 0, 0, 0.5);
}
.k-slidebox-bottom-screen{
    width: 100%;
    height: 30px;
    background-color: gray;
    text-align: center;
    color: white;
}
.k-slidebox-bottom-chairbox1{
    width: 400px;
    height: 200px;
    background-color: black;
    margin: auto;
    display: flex;
    padding: 5px;
}
.k-slidebox-bottom-chairbox1-left{
    flex: 0 0 8%;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    color: white;
}
.k-slidebox-bottom-chairbox1-right{
    flex: 0 0 92%;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
}
.k-slidebox-bottom-chairbox1-right div{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    padding: 2px;
    margin: 5px;
    color: white;
    cursor: pointer;
}
.k-slidebox-bottom-chairbox1-right div:hover{
    background-color: red;
}


/* 슬라이드 좌석선택 끝 */
.k-mySwiper{
    padding-top: 30px;
}
.k-swiper {
    width: 100%;
    height: 100%;
}
  .k-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  }

@keyframes example {
    0% {width: 0px;}
    100% {width: 800px;}
}
.k-ii{
    width: 25px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    padding-bottom: 5px;
}

.k-fadein{
    animation: fadein 3s;
}
@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}