*{
    margin-block-start:0;
    margin-block-end:0;
}
.b_etcBox{
  font-family: 'GowunDodum-Regular';
  font-weight: 00;
    width: 1200px;
    height: 300px;
    margin: 50px auto;
    display: flex;
}
.b_etc{
    height: 100%;
}
.b_tool{
   text-align: right;
}
.b_notice, .b_faq{
    height: 50%;
    text-align: center;
   
}
.b_faq>span{
    display: inline-block;
    width: 30%;
    border: 1px solid #333;
    text-align: center;
    border-radius: 15px;
    margin-right: 5px;
}
.b_notice>div{
    display: flex;
    justify-content: space-between;

}
.b_notice>ul>li>a{
    line-height: 30px;
}
.b_Qna{
text-align: left;
    border-bottom: 1px solid #999;

}

.b_etc{
    width: 30%;
    background-color: #dede;
    margin-right: 20px;

}
.b_adBox{
    background-color: #f9f1f3;
    width: 70%;
 
}
/* .b_boxTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
.b_List{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.b_ad{
    height: 300px;
}
.b_ad>.b_List>li img{
    max-width: 100%;
}
.b_List li{
   width: 25%;
   height: 250px;
    margin-right: 10px;
} 
